In [1]:
#check BIOGEME version
import biogeme.version as ver
print("Biogeme version:", ver.getVersion())

#Import necessary libraries
import pandas as pd
import biogeme.database as db
import biogeme.biogeme as bio
from biogeme import models
from biogeme.expressions import Beta, Variable

/var/folders/g0/rncnm3l57mvd8n3r12bv0_br0000gn/T/ipykernel_2114/2919022255.py:3: DeprecationWarning: getVersion is deprecated; use get_version instead.
  print("Biogeme version:", ver.getVersion())

Biogeme version: 3.3.0

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/tqdm_joblib/__init__.py:4: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from tqdm.autonotebook import tqdm

In [2]:
# Load the database
df = pd.read_csv("ModeChoiceData_binary.csv", sep=',') # Check the path to your CSV file

In [3]:
# Check missing values
print(df.isnull().sum())

X                  0
ID                 0
RP                 0
SP                 0
RP_journey      3837
SP_task          512
av_car             0
av_rail            0
time_car           0
cost_car           0
time_rail          0
cost_rail          0
access_rail        0
service_rail       0
female             0
business           0
income             0
choice             0
dtype: int64

In [4]:
# Drop columns with missing values
## df = df.drop(columns=["SP_task"])
# Or, set the missing values to -1
df = df.fillna(-1)
print(df.isnull().sum())

# Create a row index
df["RowID"] = df.index + 1
df

X               0
ID              0
RP              0
SP              0
RP_journey      0
SP_task         0
av_car          0
av_rail         0
time_car        0
cost_car        0
time_rail       0
cost_rail       0
access_rail     0
service_rail    0
female          0
business        0
income          0
choice          0
dtype: int64

,X,ID,RP,SP,RP_journey,SP_task,av_car,av_rail,time_car,cost_car,time_rail,cost_rail,access_rail,service_rail,female,business,income,choice,RowID
0,19,2,0,1,-1.0,1.0,1,1,300,40,170,35,25,2,1,0,50123,4,1
1,20,2,0,1,-1.0,2.0,1,1,390,35,140,45,20,1,1,0,50123,4,2
2,21,2,0,1,-1.0,3.0,1,1,345,35,130,65,5,2,1,0,50123,4,3
3,22,2,0,1,-1.0,4.0,1,1,275,40,140,55,20,1,1,0,50123,4,4
4,23,2,0,1,-1.0,5.0,1,1,275,45,130,35,15,3,1,0,50123,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4344,7996,500,0,1,-1.0,10.0,1,1,300,45,170,35,5,3,0,1,19910,4,4345
4345,7997,500,0,1,-1.0,11.0,1,1,275,50,130,65,15,3,0,1,19910,4,4346
4346,7998,500,0,1,-1.0,12.0,1,1,345,30,140,75,5,2,0,1,19910,1,4347
4347,7999,500,0,1,-1.0,13.0,1,1,250,50,130,65,10,2,0,1,19910,4,4348
4348,8000,500,0,1,-1.0,14.0,1,1,390,35,140,55,5,1,0,1,19910,4,4349

In [5]:
# Define the BIOGEME-specific database
database = db.Database("ModeChoice", df)
#print the BIOGEME-specific database
database._df

,X,ID,RP,SP,RP_journey,SP_task,av_car,av_rail,time_car,cost_car,time_rail,cost_rail,access_rail,service_rail,female,business,income,choice,RowID
0,19.0,2.0,0.0,1.0,-1.0,1.0,1.0,1.0,300.0,40.0,170.0,35.0,25.0,2.0,1.0,0.0,50123.0,4.0,1.0
1,20.0,2.0,0.0,1.0,-1.0,2.0,1.0,1.0,390.0,35.0,140.0,45.0,20.0,1.0,1.0,0.0,50123.0,4.0,2.0
2,21.0,2.0,0.0,1.0,-1.0,3.0,1.0,1.0,345.0,35.0,130.0,65.0,5.0,2.0,1.0,0.0,50123.0,4.0,3.0
3,22.0,2.0,0.0,1.0,-1.0,4.0,1.0,1.0,275.0,40.0,140.0,55.0,20.0,1.0,1.0,0.0,50123.0,4.0,4.0
4,23.0,2.0,0.0,1.0,-1.0,5.0,1.0,1.0,275.0,45.0,130.0,35.0,15.0,3.0,1.0,0.0,50123.0,1.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4344,7996.0,500.0,0.0,1.0,-1.0,10.0,1.0,1.0,300.0,45.0,170.0,35.0,5.0,3.0,0.0,1.0,19910.0,4.0,4345.0
4345,7997.0,500.0,0.0,1.0,-1.0,11.0,1.0,1.0,275.0,50.0,130.0,65.0,15.0,3.0,0.0,1.0,19910.0,4.0,4346.0
4346,7998.0,500.0,0.0,1.0,-1.0,12.0,1.0,1.0,345.0,30.0,140.0,75.0,5.0,2.0,0.0,1.0,19910.0,1.0,4347.0
4347,7999.0,500.0,0.0,1.0,-1.0,13.0,1.0,1.0,250.0,50.0,130.0,65.0,10.0,2.0,0.0,1.0,19910.0,4.0,4348.0
4348,8000.0,500.0,0.0,1.0,-1.0,14.0,1.0,1.0,390.0,35.0,140.0,55.0,5.0,1.0,0.0,1.0,19910.0,4.0,4349.0

In [6]:
"""
Use the loop below to get all of columns names.
for col in df.columns:
    print(f'{col} = Variable("{col}")')

1. The code will generate the Variable for each column.    
2. Copy the output and paste it below to define the variables.
"""
for col in df.columns:
    print(f'{col} = Variable("{col}")')

X = Variable("X")
ID = Variable("ID")
RP = Variable("RP")
SP = Variable("SP")
RP_journey = Variable("RP_journey")
SP_task = Variable("SP_task")
av_car = Variable("av_car")
av_rail = Variable("av_rail")
time_car = Variable("time_car")
cost_car = Variable("cost_car")
time_rail = Variable("time_rail")
cost_rail = Variable("cost_rail")
access_rail = Variable("access_rail")
service_rail = Variable("service_rail")
female = Variable("female")
business = Variable("business")
income = Variable("income")
choice = Variable("choice")
RowID = Variable("RowID")

In [7]:
#Define the variables
X = Variable("X")
ID = Variable("ID")
RP = Variable("RP")
SP = Variable("SP")
RP_journey = Variable("RP_journey")
SP_task = Variable("SP_task")
av_car = Variable("av_car")
av_rail = Variable("av_rail")
time_car = Variable("time_car")
cost_car = Variable("cost_car")
time_rail = Variable("time_rail")
cost_rail = Variable("cost_rail")
access_rail = Variable("access_rail")
service_rail = Variable("service_rail")
female = Variable("female")
business = Variable("business")
income = Variable("income")
choice = Variable("choice")
RowID = Variable("RowID")
# REMEMBER to define new variables if you have modified the dataset!

## Base Spec

In [8]:
# Define beta values to be estimated
## Beta('name', initial value, lower bound, upper bound, reference)
## Reference is used to set the reference alternative in a logit model (1 = yes, 0 = no)
asc_car = Beta('asc_car', 0, None, None, 1) #Reference alternatives
asc_rail = Beta('asc_rail', 0, None, None, 0) 
b_cost = Beta('b_cost', 0, None, None, 0)

# Utility functions
V_car = asc_car + b_cost * cost_car
V_rail = asc_rail + b_cost * cost_rail

'''
Remember the coding of the alternatives in the dataset:
1: Car
4: Rail
''' 

# Dictionary defining alternatives mapping
V = {1: V_car, 4: V_rail}

# Dictionary defining availability mapping
av = {1: av_car, 4: av_rail}

# Define the choice model
# loglogit(Alternatives mapping, Availability mapping, Choice variable)
logprob= models.loglogit(V, av, choice)

# Estimate Model
#the_biogeme = bio.BIOGEME(database, logprob)
the_biogeme = bio.BIOGEME(database, logprob)
the_biogeme.model_name = 'BaseSpec' # Set the model name

#Calculate null Loglikelihood
the_biogeme.calculate_null_loglikelihood(av)

# Save the estimation results
results = the_biogeme.estimate()

#Print the results
print(results.short_summary())
results.get_estimated_parameters()

Results for model BaseSpec
Nbr of parameters:		2
Sample size:			4349
Excluded data:			0
Null log likelihood:		-3014.497
Final log likelihood:		-2757.621
Likelihood ratio test (null):		513.7527
Rho square (null):			0.0852
Rho bar square (null):			0.0846
Akaike Information Criterion:	5519.242
Bayesian Information Criterion:	5531.997

/var/folders/g0/rncnm3l57mvd8n3r12bv0_br0000gn/T/ipykernel_2114/2867951966.py:41: DeprecationWarning: get_estimated_parameters is deprecated. Use get_pandas_estimated_parameters(estimation_results=my_results) instead
  results.get_estimated_parameters()

       Name     Value  Robust std err.  Robust t-stat.  Robust p-value
0    b_cost -0.039830         0.002086      -19.097950             0.0
1  asc_rail  0.898972         0.044147       20.363228             0.0

## Spec 1

In [9]:
# Define beta values to be estimated
## Beta('name', initial value, lower bound, upper bound, reference)
## Reference is used to set the reference alternative in a logit model (1 = yes, 0 = no)
asc_car = Beta('asc_car', 0, None, None, 1) #Reference alternatives
asc_rail = Beta('asc_rail', 0, None, None, 0) 
b_cost = Beta('b_cost', 0, None, None, 0)

# Utility functions
V_car = asc_car + b_cost * cost_car
V_rail = asc_rail + b_cost * cost_rail

'''
Remember the coding of the alternatives in the dataset:
1: Car
4: Rail
''' 

# Dictionary defining alternatives mapping
V = {1: V_car, 4: V_rail}

# Dictionary defining availability mapping
av = {1: av_car, 4: av_rail}

# Define the choice model
# loglogit(Alternatives mapping, Availability mapping, Choice variable)
logprob= models.loglogit(V, av, choice)

# Estimate Model
the_biogeme = bio.BIOGEME(database, logprob)
the_biogeme.model_name = 'Spec_1' # Set the model name

#Calculate null Loglikelihood
the_biogeme.calculate_null_loglikelihood(av)

# Save the estimation results
results = the_biogeme.estimate()

#Print the results
print(results.short_summary())
results.get_estimated_parameters()

Results for model Spec_1
Nbr of parameters:		2
Sample size:			4349
Excluded data:			0
Null log likelihood:		-3014.497
Final log likelihood:		-2757.621
Likelihood ratio test (null):		513.7527
Rho square (null):			0.0852
Rho bar square (null):			0.0846
Akaike Information Criterion:	5519.242
Bayesian Information Criterion:	5531.997

/var/folders/g0/rncnm3l57mvd8n3r12bv0_br0000gn/T/ipykernel_2114/58072755.py:40: DeprecationWarning: get_estimated_parameters is deprecated. Use get_pandas_estimated_parameters(estimation_results=my_results) instead
  results.get_estimated_parameters()

       Name     Value  Robust std err.  Robust t-stat.  Robust p-value
0    b_cost -0.039830         0.002086      -19.097950             0.0
1  asc_rail  0.898972         0.044147       20.363228             0.0

## Spec 2

In [10]:
# Define beta values to be estimated
## Beta('name', initial value, lower bound, upper bound, reference)
## Reference is used to set the reference alternative in a logit model (1 = yes, 0 = no)
asc_car = Beta('asc_car', 0, None, None, 0) 
asc_rail = Beta('asc_rail', 0, None, None, 1) #Reference alternatives
b_cost = Beta('b_cost', 0, None, None, 0)

# Utility functions
V_car = asc_car + b_cost * cost_car
V_rail = asc_rail + b_cost * cost_rail

'''
Remember the coding of the alternatives in the dataset:
1: Car
4: Rail
''' 

# Dictionary defining alternatives mapping
V = {1: V_car, 4: V_rail}

# Dictionary defining availability mapping
av = {1: av_car, 4: av_rail}

# Define the choice model
# loglogit(Alternatives mapping, Availability mapping, Choice variable)
logprob= models.loglogit(V, av, choice)

# Estimate Model
the_biogeme = bio.BIOGEME(database, logprob)
the_biogeme.model_name = 'Spec_2' # Set the model name

#Calculate null Loglikelihood
the_biogeme.calculate_null_loglikelihood(av)

# Save the estimation results
results = the_biogeme.estimate()

#Print the results
print(results.short_summary())
results.get_estimated_parameters()

Results for model Spec_2
Nbr of parameters:		2
Sample size:			4349
Excluded data:			0
Null log likelihood:		-3014.497
Final log likelihood:		-2757.621
Likelihood ratio test (null):		513.7527
Rho square (null):			0.0852
Rho bar square (null):			0.0846
Akaike Information Criterion:	5519.242
Bayesian Information Criterion:	5531.997

/var/folders/g0/rncnm3l57mvd8n3r12bv0_br0000gn/T/ipykernel_2114/4161637041.py:40: DeprecationWarning: get_estimated_parameters is deprecated. Use get_pandas_estimated_parameters(estimation_results=my_results) instead
  results.get_estimated_parameters()

      Name     Value  Robust std err.  Robust t-stat.  Robust p-value
0  asc_car -0.898972         0.044147      -20.363228             0.0
1   b_cost -0.039830         0.002086      -19.097950             0.0

## Spec 3

In [11]:
# Define beta values to be estimated
## Beta('name', initial value, lower bound, upper bound, reference)
## Reference is used to set the reference alternative in a logit model (1 = yes, 0 = no)
asc_car = Beta('asc_car', 0, None, None, 1) #Reference alternatives
asc_rail = Beta('asc_rail', 0, None, None, 0) 
b_cost = Beta('b_cost', 0, None, None, 0)
b_tt_car = Beta('b_tt_car', 0, None, None, 0)
b_tt_rail = Beta('b_tt_rail', 0, None, None, 0)

# Utility functions
V_car = asc_car + b_cost * cost_car + b_tt_car * time_car
V_rail = asc_rail + b_cost * cost_rail + b_tt_rail * time_rail

'''
Remember the coding of the alternatives in the dataset:
1: Car
4: Rail
''' 

# Dictionary defining alternatives mapping
V = {1: V_car, 4: V_rail}

# Dictionary defining availability mapping
av = {1: av_car, 4: av_rail}

# Define the choice model
# loglogit(Alternatives mapping, Availability mapping, Choice variable)
logprob= models.loglogit(V, av, choice)

# Estimate Model
the_biogeme = bio.BIOGEME(database, logprob)
the_biogeme.model_name = 'Spec_3' # Set the model name

#Calculate null Loglikelihood
the_biogeme.calculate_null_loglikelihood(av)

# Save the estimation results
results = the_biogeme.estimate()

#Print the results
print(results.short_summary())
results.get_estimated_parameters()

Results for model Spec_3
Nbr of parameters:		4
Sample size:			4349
Excluded data:			0
Null log likelihood:		-3014.497
Final log likelihood:		-2679.77
Likelihood ratio test (null):		669.4539
Rho square (null):			0.111
Rho bar square (null):			0.11
Akaike Information Criterion:	5367.54
Bayesian Information Criterion:	5393.051

/var/folders/g0/rncnm3l57mvd8n3r12bv0_br0000gn/T/ipykernel_2114/2615412748.py:42: DeprecationWarning: get_estimated_parameters is deprecated. Use get_pandas_estimated_parameters(estimation_results=my_results) instead
  results.get_estimated_parameters()

        Name     Value  Robust std err.  Robust t-stat.  Robust p-value
0     b_cost -0.049736         0.002387      -20.838667        0.000000
1   b_tt_car -0.008191         0.000702      -11.667015        0.000000
2   asc_rail -0.784450         0.369709       -2.121804        0.033854
3  b_tt_rail -0.004931         0.001937       -2.546119        0.010893

## Spec 4

In [17]:
# Define beta values to be estimated
## Beta('name', initial value, lower bound, upper bound, reference)
## Reference is used to set the reference alternative in a logit model (1 = yes, 0 = no)
asc_car = Beta('asc_car', 0, None, None, 1) #Reference alternatives
asc_rail = Beta('asc_rail', 0, None, None, 0) 
b_cost = Beta('b_cost', 0, None, None, 0)
b_tt_car = Beta('b_tt_car', 0, None, None, 0)
b_tt_rail = Beta('b_tt_rail', 0, None, None, 0)
b_income = Beta('b_income', 0, None, None, 0)

# Utility functions
V_car = asc_car + b_cost * cost_car + b_tt_car * time_car + b_income * (income/1000)
V_rail = asc_rail + b_cost * cost_rail + b_tt_rail * time_rail

'''
Remember the coding of the alternatives in the dataset:
1: Car
4: Rail
''' 

# Dictionary defining alternatives mapping
V = {1: V_car, 4: V_rail}

# Dictionary defining availability mapping
av = {1: av_car, 4: av_rail}

# Define the choice model
# loglogit(Alternatives mapping, Availability mapping, Choice variable)
logprob= models.loglogit(V, av, choice)

# Estimate Model
the_biogeme = bio.BIOGEME(database, logprob)
the_biogeme.model_name = 'Spec_4' # Set the model name

#Calculate null Loglikelihood
the_biogeme.calculate_null_loglikelihood(av)

# Save the estimation results
results = the_biogeme.estimate()

#Print the results
print(results.short_summary())
results.get_estimated_parameters()

Results for model Spec_4
Nbr of parameters:		5
Sample size:			4349
Excluded data:			0
Null log likelihood:		-3014.497
Final log likelihood:		-2662.782
Likelihood ratio test (null):		703.4298
Rho square (null):			0.117
Rho bar square (null):			0.115
Akaike Information Criterion:	5335.564
Bayesian Information Criterion:	5367.453

/var/folders/g0/rncnm3l57mvd8n3r12bv0_br0000gn/T/ipykernel_2114/3332532456.py:43: DeprecationWarning: get_estimated_parameters is deprecated. Use get_pandas_estimated_parameters(estimation_results=my_results) instead
  results.get_estimated_parameters()

        Name     Value  Robust std err.  Robust t-stat.  Robust p-value
0     b_cost -0.050590         0.002410      -20.988814    0.000000e+00
1   b_tt_car -0.008396         0.000703      -11.950640    0.000000e+00
2   b_income -0.011287         0.001942       -5.813364    6.122981e-09
3   asc_rail -1.349252         0.382523       -3.527245    4.199083e-04
4  b_tt_rail -0.004825         0.001945       -2.481363    1.308810e-02

## Spec 5

In [18]:
# Define beta values to be estimated
## Beta('name', initial value, lower bound, upper bound, reference)
## Reference is used to set the reference alternative in a logit model (1 = yes, 0 = no)
asc_car = Beta('asc_car', 0, None, None, 1) #Reference alternatives
asc_rail = Beta('asc_rail', 0, None, None, 0) 
b_cost = Beta('b_cost', 0, None, None, 0)
b_tt_car = Beta('b_tt_car', 0, None, None, 0)
b_tt_rail = Beta('b_tt_rail', 0, None, None, 0)
b_income = Beta('b_income', 0, None, None, 0)
b_female = Beta('b_female', 0, None, None, 0)
b_business = Beta('b_business', 0, None, None, 0)

# Utility functions
V_car = asc_car + b_cost * cost_car + b_tt_car * time_car + b_income * (income/1000) + b_female *female + b_business * business  
V_rail = asc_rail + b_cost * cost_rail + b_tt_rail * time_rail

'''
Remember the coding of the alternatives in the dataset:
1: Car
4: Rail
''' 

# Dictionary defining alternatives mapping
V = {1: V_car, 4: V_rail}

# Dictionary defining availability mapping
av = {1: av_car, 4: av_rail}

# Define the choice model
# loglogit(Alternatives mapping, Availability mapping, Choice variable)
logprob= models.loglogit(V, av, choice)

# Estimate Model
the_biogeme = bio.BIOGEME(database, logprob)
the_biogeme.model_name = 'Spec_5' # Set the model name

#Calculate null Loglikelihood
the_biogeme.calculate_null_loglikelihood(av)

# Save the estimation results
results = the_biogeme.estimate()

#Print the results
print(results.short_summary())
results.get_estimated_parameters()

Results for model Spec_5
Nbr of parameters:		7
Sample size:			4349
Excluded data:			0
Null log likelihood:		-3014.497
Final log likelihood:		-2511.852
Likelihood ratio test (null):		1005.29
Rho square (null):			0.167
Rho bar square (null):			0.164
Akaike Information Criterion:	5037.704
Bayesian Information Criterion:	5082.348

/var/folders/g0/rncnm3l57mvd8n3r12bv0_br0000gn/T/ipykernel_2114/3007367828.py:45: DeprecationWarning: get_estimated_parameters is deprecated. Use get_pandas_estimated_parameters(estimation_results=my_results) instead
  results.get_estimated_parameters()

         Name     Value  Robust std err.  Robust t-stat.  Robust p-value
0      b_cost -0.054382         0.002567      -21.186111    0.000000e+00
1    b_tt_car -0.009153         0.000732      -12.506523    0.000000e+00
2    b_income -0.012071         0.002005       -6.019335    1.751346e-09
3    b_female -0.173904         0.068162       -2.551329    1.073130e-02
4  b_business -1.316834         0.083500      -15.770394    0.000000e+00
5    asc_rail -2.091607         0.400051       -5.228351    1.710286e-07
6   b_tt_rail -0.004269         0.002024       -2.109171    3.492978e-02

## Spec 6

In [19]:
# Define beta values to be estimated
## Beta('name', initial value, lower bound, upper bound, reference)
## Reference is used to set the reference alternative in a logit model (1 = yes, 0 = no)
asc_car = Beta('asc_car', 0, None, None, 1) #Reference alternatives
asc_rail = Beta('asc_rail', 0, None, None, 0) 
b_cost = Beta('b_cost', 0, None, None, 0)
b_tt_car = Beta('b_tt_car', 0, None, None, 0)
b_tt_rail = Beta('b_tt_rail', 0, None, None, 0)
b_income = Beta('b_income', 0, None, None, 0)
b_female = Beta('b_female', 0, None, None, 0)
b_business = Beta('b_business', 0, None, None, 0)
b_wifi = Beta('b_wifi', 0, None, None, 0)

# Utility functions
V_car = asc_car + b_cost * cost_car + b_tt_car * time_car + b_income * (income/1000) + b_female *female + b_business * business + b_wifi * (service_rail ==2)
V_rail = asc_rail + b_cost * cost_rail + b_tt_rail * time_rail

'''
Remember the coding of the alternatives in the dataset:
1: Car
4: Rail
''' 

# Dictionary defining alternatives mapping
V = {1: V_car, 4: V_rail}

# Dictionary defining availability mapping
av = {1: av_car, 4: av_rail}

# Define the choice model
# loglogit(Alternatives mapping, Availability mapping, Choice variable)
logprob= models.loglogit(V, av, choice)

# Estimate Model
the_biogeme = bio.BIOGEME(database, logprob)
the_biogeme.model_name = 'Spec_6' # Set the model name

#Calculate null Loglikelihood
the_biogeme.calculate_null_loglikelihood(av)

# Save the estimation results
results = the_biogeme.estimate()

#Print the results
print(results.short_summary())
results.get_estimated_parameters()

Results for model Spec_6
Nbr of parameters:		8
Sample size:			4349
Excluded data:			0
Null log likelihood:		-3014.497
Final log likelihood:		-2476.754
Likelihood ratio test (null):		1075.486
Rho square (null):			0.178
Rho bar square (null):			0.176
Akaike Information Criterion:	4969.508
Bayesian Information Criterion:	5020.53

/var/folders/g0/rncnm3l57mvd8n3r12bv0_br0000gn/T/ipykernel_2114/3642090258.py:46: DeprecationWarning: get_estimated_parameters is deprecated. Use get_pandas_estimated_parameters(estimation_results=my_results) instead
  results.get_estimated_parameters()

         Name     Value  Robust std err.  Robust t-stat.  Robust p-value
0      b_cost -0.058826         0.002645      -22.236959    0.000000e+00
1    b_tt_car -0.010854         0.000770      -14.104285    0.000000e+00
2    b_income -0.012656         0.002029       -6.236315    4.479987e-10
3    b_female -0.180497         0.068804       -2.623375    8.706331e-03
4  b_business -1.325826         0.083945      -15.794045    0.000000e+00
5      b_wifi -0.666041         0.079166       -8.413185    0.000000e+00
6    asc_rail -2.331696         0.408867       -5.702827    1.178367e-08
7   b_tt_rail -0.007420         0.002105       -3.524324    4.245649e-04

In [14]:
df

,X,ID,RP,SP,RP_journey,SP_task,av_car,av_rail,time_car,cost_car,time_rail,cost_rail,access_rail,service_rail,female,business,income,choice,RowID
0,19,2,0,1,-1.0,1.0,1,1,300,40,170,35,25,2,1,0,50123,4,1
1,20,2,0,1,-1.0,2.0,1,1,390,35,140,45,20,1,1,0,50123,4,2
2,21,2,0,1,-1.0,3.0,1,1,345,35,130,65,5,2,1,0,50123,4,3
3,22,2,0,1,-1.0,4.0,1,1,275,40,140,55,20,1,1,0,50123,4,4
4,23,2,0,1,-1.0,5.0,1,1,275,45,130,35,15,3,1,0,50123,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4344,7996,500,0,1,-1.0,10.0,1,1,300,45,170,35,5,3,0,1,19910,4,4345
4345,7997,500,0,1,-1.0,11.0,1,1,275,50,130,65,15,3,0,1,19910,4,4346
4346,7998,500,0,1,-1.0,12.0,1,1,345,30,140,75,5,2,0,1,19910,1,4347
4347,7999,500,0,1,-1.0,13.0,1,1,250,50,130,65,10,2,0,1,19910,4,4348
4348,8000,500,0,1,-1.0,14.0,1,1,390,35,140,55,5,1,0,1,19910,4,4349